*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
input{
  border: 2px solid black;
}
button:hover,
input:hover{
  background-color: black;
}
.body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: 
  "nav nav"
  "content content";
  background-image: url('../assets/home.jpg');
}
.home,
.about,
.checkout-complete{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
}
.body{
  height: 100vh;
}
.home-title,
.about a,
.checkout-text{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  height: 100px;
  font-size:xx-large;
  color: white;
  font-weight: bolder;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.7);
}
.about a{
  text-align: center;
}
.nav{
  grid-area: nav;
}
