.body{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
}
.home,
.about,
.shop-sticky{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}