.nav-buttons,
.nav-buttons a,
.nav-buttons a li,
.nav a,
.nav-logo{
  background-color: rgba(0,0,0,0);
  color: white;
}
.nav-buttons a{
  padding: 20px;
}
.nav-buttons a:hover{
  background-color: rgba(0,0,0,1);
  height: 100%;
}
.nav{
  display: flex;
  justify-content: space-between;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  height: 100px;
}
.nav-buttons{
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  font-size: larger;
}

.nav a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: large;
}