.shop{
  display: flex;
  height: 80%;
  width: 100%;
}
.shop-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: max-content;
  width: max-content;
}
.shop-item-img{
  height: 200px;
  width: 200px;
}
.cart{
  right: 0;
  height: 100%;
  width: 10%;
  position: fixed;
}
.cart-item-info{
  display: flex;
}
.shop-item-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
}