.shop{
  display: flex;
  height: 100%;
  width: 100%;
}
.shop-item-img{
  height: 200px;
  width: 200px;
}
.cart{
  position: fixed;
  right: 0;
  height: 100%;
  width: 200px;
}
.shop-item-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
}